# Lists - demo in class

## Definition

In [2]:
# list
l = [1, 2, 3, 4]
l 

# tuple
t = (1, 'Claus', 22334455-1111)
t

(1, 2, 3, 4)

## Refer

In [8]:
l = [1, 2, 3, 4]
l[-1]

4

## Changing values

In [10]:
l[1] = 'Hej'
l

[1, 'Hej', 3, 4]

## Ordered

## Build in functions the same syntax for everything

In [15]:
len(l)
r = reversed(l)

34
4
3
Hej
1

## Concatenate & Multiply

## Variables in python are “by reference”

## Slicing

## Loop

In [20]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

## Check if a value is in a list/tuple or not

## Sorting

In [41]:
l = ['Alaus', 'Anna', 'Bo', 'BIb', 'Ib']

def last_letter(x):
    return x[-2]

sorted(l, key=last_letter)

l + l

False

## Methods

In [62]:
t[0] = 12

TypeError: 'tuple' object does not support item assignment

In [59]:
t

(1, 2, 3, 4)

![](sorted.png)

In [63]:
t

(1, 2, 3, 4)

## Files
### Read from files

In [78]:
f = open('xxx.py', 'r')
f.read()

'Hello helooolkajlkdsjHello helooolkajlkdsjHello helooolkajlkdsjHello helooolkajlkdsjHello helooolkajlkdsj'

In [82]:
def xxx(x):
    return 'a' in x

### Write to file

In [84]:
l =  ['claus', 'ib', 'per', 'anna', 'arne']
sorted(l, key=xxx, reverse=True)

['claus', 'anna', 'arne', 'ib', 'per']